@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

.tictactoe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tictactoe .prompt-box {
  box-sizing: border-box;
  border: 5px solid hsla(224, 81%, 47%, 0.997);
  background-color: white;
  border-radius: 14px;
  padding: 10px;
  width: fit-content;
  height: 50 px;
  margin: 2px auto;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  align-self: center;
}

.tictactoe .board * {
  box-sizing: border-box;
}

.tictactoe .board {
  background-color: hsla(224, 81%, 47%, 0.997);
  margin: 10px auto;
  padding: 20px;
  width: 310px;
  aspect-ratio: 1;
  border-radius: 20px;
}

.tictactoe .board .row {
  display: flex;
  width: 100%;
  height: 32%;
  justify-content: space-between;
  margin-bottom: 1%;
}

.tictactoe .board .square {
  border: 4px solid white;
  border-radius: 100px;
  width: 32%;
  aspect-ratio: 1;
  cursor: pointer;
}

.tictactoe .board .square:hover {
  background-color: white;
}

.tictactoe .board .square-img {
  width: 32%;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 100px;
}

@media (max-width: 410px) {
  .tictactoe .board {
    width: 75%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tictactoe .board *,
.tictactoe .prompt-box {
  animation: fadeIn 0.5s ease-in-out;
}
